@charset "UTF-8";
        body{
            background-color: darkmagenta;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-align: justify;
        }
        h1{
            color: coral;
        }
        h2{
            color: bisque;
        }
        p{
            color: rgb(235, 235, 235);
        }
        a{
            text-decoration: none;
            color: blanchedalmond;
        }

        