@charset "UTF-8";

:root{
    --cor0: #1b4332;
    --cor1: #2d6a4b;
    --cor2: #f0f3bd;
    --cor3: #c5ebd6;
    --cor4: #081c15;
    --cor5: #ffffffff;
    --cor6: #006435;

    --fontepadrao: arial, sans-serif;
    --fontedestaque: 'Segoe UI', Tahoma,  Verdana, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: #c5ebd6;
}

header{
    background-image: linear-gradient(to top, var(--cor0), var(--cor6));
}

header > h1{
    text-align: center;
    color: var(--cor5);
    font-family: var(--fontedestaque);
    padding: 15px;
}

header > p{
    text-align: center;
    color: var(--cor5);
    font-family: var(--fontedestaque);
    padding-bottom: 15px;
}

nav{
    background-color: var(--cor0);
    padding: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

nav a{
    color: var(--cor3);
    text-decoration: none;
    margin-right: 15px;
    font-family: var(--fontepadrao);
    
}

nav a:hover{
    background-color: var(--cor2);
    color: var(--cor4);
    border-radius: 3px;
    padding: 10px;
    font-weight: bold;
    transition-duration: 0.6s;
}

main{ background-color: var(--cor5);
    padding: 15px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.268);
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 15px;
}

main p{
    font-family: var(--fontepadrao);
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
}


main img{
    width: 100%;
}

main img.pequena{
    max-width: 300px;
    display: block;
    margin: auto;

}

main a {
    text-decoration: none;
    background-color: var(--cor3);
    font-weight: bold;
    color: var(--cor4);
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
    transition-duration: 0.5s;
    color: black;
}

h1.famoso{
    font-family: 'Segoe UI', Tahoma,  Verdana, sans-serif;
    color: var(--cor1);
    text-align: center;
    margin-bottom: 15px;
}

main h2{
    font-family: var(--fontedestaque);
    color: var(--cor0);
    background-color: var(--cor3);
}

main h3{
    font-family: var(--fontedestaque);
}

div.video{
    position: relative;
    background-color: var(--cor0);
    margin: 0px -15px;
    padding: 15px;
    padding-bottom: 50%
}

div.video iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    background-color: lightgreen;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

aside h3{
    font-family: var(--fontedestaque);
    color: var(--cor5);
    background-color: var(--cor6);
    margin: -10px -10px 0px -10px;
    padding: 7px;
    border-radius: 5px 5px 0px 0px;
}

aside ul{
    list-style-position: inside;
    list-style-type: '\1F3B0';
    font-family: var(--fontepadrao);
    columns: 2;
}

footer{
    background-color: var(--cor4);
    text-align: center;
    color: var(--cor5);
    font-family: var(--fontedestaque);
    padding: 8px;
}

footer a{
    color: var(--cor2);
    font-weight: bold;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}
