@charset "utf-8";
#principal{
    /* background-image: url(imagens/target001.png);
    background-size: 100% 100%; */
    height: 300px;
    background-color: rgb(42, 9, 13);
    position: relative;
}
#conteudo{
    height: 200px;
    background-color: rgba(0, 255, 0, 0.271);
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    /* background-image: url(imagens/target001.png); */
    /* background-size: 100% 100%; */
    transform: translate(-50%, -50%);
}