body{
    background-color: rgb(40, 39, 39);
    background-image: url(imagens/wallpaper002.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 97vh;
    background-attachment: fixed;
}
main{
    background-color: white;
    max-width: 650px;
    padding: 15px;
    margin: auto;
    text-align: justify;
    border-radius: 10px 0px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.26);
}
footer{
    text-align: center;
    color: white;
    margin-bottom: none;
    background-color: rgba(10, 6, 6, 0.238);
}
main h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}