@charset "UTF-8";


body{
    
    height: 97vh;
    background: rgb(164, 161, 161) url(imagens/wallpaper002.jpg) no-repeat center center fixed;
    background-size: cover;
}
main{
    background-color: rgb(255, 255, 255);
    max-width: 650px;
    padding: 15px;
    margin: auto;
    text-align: justify;
    border-radius: 10px 0px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.26);
}
footer{
    text-align: center;
    color: white;
    margin-bottom: none;
    background-color: rgba(10, 6, 6, 0.238);
}
main h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}