body{
    background-color: rgb(40, 39, 39);
    background-image: url(imagens/wallpaper002.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 97vh;
    background-attachment: fixed;
}
main{
    background-color: white;
    max-width: 500px;
    padding: 1px 10px;
    margin: auto;
    text-align: justify;
}